footer{
    background-color: $Dark-blue-color;
    .footer_head{
        padding: 25px 20px;
        background-color: #0F1422;
        text-align: end;
        h2{
            font-size: 20px;
            color: $White-color;
        }
        @media (max-width:762px) {
            padding: 15px;
            h2{
                font-size: 16px;
            }
            
        }
    }
    .foot_logo{
        img{
            margin-left: 20px;
            width: 180px;
            height: 82px;
            object-fit: contain;
        }
    }
    .foot_list{
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                color: #dbdbdb;
                font-size: 17px;
                margin: 0 0 9px;
                font-weight: 400;
                line-height: 1.75rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
                &:nth-child(1){
                    color: #fff;
                    opacity: 0.46;
                }
                &:hover{
                    color: #7396f7  ;
                }
            }
        }
    }
    .foot{
        p{
            font-size: 14px;
            text-align: end;
            color: #fff;
                    opacity: 0.46;
                    @media (max-width:762px) {
                      text-align: center;
                        
                    }
        }
    }
}